@charset "utf-8";

/* ==================== 웹폰트 정의 ==================== */
@font-face {
    font-family: "FlightSans";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/FlightSans-Regular.woff2")
        format("woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "FlightSans";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/FlightSans-Bold.woff2")
        format("woff2");
    font-weight: 700;
    font-display: swap;
}

/* ==================== 기본 스타일 ==================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: "FlightSans", -apple-system, BlinkMacSystemFont, "Segoe UI",
        sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


/* ======================== 공통  ======================== */
.container { 
    max-width: 1400px;
    margin: 0 auto;
}
.section {
    padding-top: 50px;
    padding-bottom: 100px;
    scroll-margin-top: 100px; /* 헤더 높이만큼 여유 */
}
.section-header {
    font-size: 22px;
    margin-bottom: 40px;
}

/* ======================== 헤더 상단바 ========================  */
.top-bar {
    padding: 10px;
    padding-bottom: 15px;
    font-size: 13px;
    color: #333;
}

.top-bar .container {
    display: flex;
    justify-content: space-between; /* 양쪽 끝으로 배치 */
    align-items: center;
}

/* 왼쪽 메뉴 */
.top-bar .left-menu {
    display: flex;
    align-items: center;
    gap: 15px;
}

.top-bar .left-menu a img {
    width: 20px;
    height: 20px;
}
.top-bar .left-menu a {
    text-decoration: none;
    color: #333;
    transition: color 0.2s;
}

/* 오른쪽 메뉴 */
.top-bar .right-menu {
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-bar .right-menu a {
    text-decoration: none;
    color: #333;
    transition: color 0.2s;
}

.top-bar .right-menu a:hover {
    color: #ff5000;
}


/* ======================== 헤더 ======================== */
.header {
    background: #fff;
    border-bottom: 1px solid #ddd;
    position: sticky; /* 스크롤 시 상단 고정 */
    top: 0;
    z-index: 999;
}
/* 메인 네비(GNB) */
.gnb {
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}
/* 로고 */
.gnb img {
    height: 60px;
    width: auto; 
    vertical-align: middle;
}
.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 130px;
    padding: 0;
    margin: 0;
}
.menu > li {
    position: relative;
}
.menu > li > a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
    font-weight: bold;
    height: 40px;        
    display: flex;
    align-items: center;    

    white-space: nowrap;
}
.menu > li > a:hover {
    color: #ff5500; 
}
.menu > li.mainmenu:hover > .submenu {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.submenu {
    display: block;           
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px 0;
    list-style: none;
    min-width: 150px;         
    visibility: hidden;       
    opacity: 0;               
    pointer-events: none;     
    transition: opacity 0.3s; 
}
.submenu li {
    list-style: none;
}
.submenu li a {
    display: block;
    padding: 13px 20px;        
    color: #555;
    font-weight: bold;
    white-space: nowrap;   
    text-decoration: none;   
}
.submenu li a:hover {
    color: #ff5000;
}



/* ======================== 푸터 ======================== */
.footer {
    background-color: #ddd; 
    color: #333; 
    padding: 30px; 
    line-height: 1.5;
}
.footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* 왼쪽과 오른쪽 맨 위 기준선 맞춤 */
}
.footer-info p {
    font-size: 13px;
    margin: 30px 0;
}
.company-notice p {
    font-size: 16px;
    color: #333;
}
.company-notice a {
    text-decoration: none;
    color: #333;
}
.footer-sns {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    margin-top: 30px;
}
.footer-sns a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.footer-sns a i {
    font-size: 25px;
}