/* ======= 전체 섹션 기본 ======= */
.section-compact {
    padding: 50px 20px;
    background-color: #f9f9f9;
}

.section-compact .container {
    max-width: 1400px;
    margin: 0 auto;
    text-align: center; /* h2, p 중앙 정렬 */
}

.section-compact h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 15px;
}

.section-compact .compact-txt {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}

/* ======= 탭 버튼 ======= */
.tabs {
    display: flex;
    justify-content: center; /* 버튼 중앙 정렬 */
    gap: 10px;
    margin-bottom: 30px;
}

.tab-btn {
    padding: 10px 20px;
    background: #f2f2f2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.tab-btn.active {
    background: #ff5000;
    color: #fff;
}

/* ======= 카드 컨테이너 ======= */
.car-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 60px 30px;
}
.car-card {
    width: 100%; 
    height: auto;       
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}
.card-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-content h3 {
    font-size: 20px;
    color: #333;
    margin: 20px;
}

/* 정보 (가격/연비/인원) */
.car-content-info {
    display: flex;
    flex-direction: column;  /* 위에서 아래로 쌓기 */
    gap: 10px;
    align-items: flex-start;  /* 왼쪽 정렬 */
    text-align: left;         /* 텍스트 왼쪽 정렬 */
    margin-left: 20px;
}
.car-content-info .info {
    font-size: 16px;
}
.car-content-info .label {
    color: #333;
    font-weight: bold;
    margin-right: 30px;
}
.car-content-info .value {
    color: #ff5000;
    font-weight: bold;
}

/* 상세보기 버튼 */
.btn1 {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 15px;
    background-color: #ff5000;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition:  0.5s ease;
}

.btn1:hover {
    background-color: #ff7333;
}