@charset "utf-8";

.hidden {
    display: none;
}
/* ==================== 이벤트 섹션 ==================== */
.section-event h2 {
    margin-left: 200px;
}
.event-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.event-tabs {
    margin-right: 200px;
    display: flex;
    gap: 5px;
}
.tab-btn {
    padding: 12px 20px;
    border-radius: 12px;
    border: 1px solid #ddd;
    background-color: #fff;
    font-size: 15px;
    font-weight: bold;
    color: #555;
    cursor: pointer;
}
.tab-btn:hover {
    border-color: #ff5000;
    color: #ff5000;
}
.tab-btn.active {
    background-color: #ff5000;
    border-color: #ff5000;
    color: #fff;
}

/* 섹션 구분선 */
.section-event .search-bar {
    border-top: 2px dotted #ddd;
    margin: 0 200px;
}

/* ==================== 카드공통 ==================== */
.event-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 900px;
    margin: 40px auto 0;
    gap: 30px;
}
.event-item {
    cursor: pointer;
}
.event-thumb {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}
.event-thumb img {
    width: 100%;
    display: block;
    transition: transform 0.3s ease;
}
.event-item:hover img {
    transform: scale(1.08);
}
.event-text {
    margin-top: 10px;
}
.event-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 6px;
}
.event-date {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 40px;
    grid-column: 1 / -1;
}
.pagination button {
    background-color: #fff;
    border: none;
    padding: 7px 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    min-width: 24px;
    text-align: center;
    border-radius: 50%;
}
.pagination button:hover {
    background-color: #ff5000;
    color: #fff;
}
.pagination button.active {
    background-color: #ff5000;
    color: #fff;
}

/* 종료된이벤트 */
#tab-end .event-thumb img {
    filter: brightness(25%);
}
.event-badge.end {
    position: absolute;
    color: #fff;
    border: 1px solid;
    font-size: 14px;
    padding: 12px 24px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




