@charset "utf-8";
/* @import url('/css/common.css'); */

#gnb > ul > .mainmenu:nth-child(5) > a {
    color: #ff5000;
}
/* ======================== 메인 비쥬얼 ======================== */
.main-visual {
    position: relative;
    width: 100%;
    height: 350px; 
    overflow: hidden;
    margin-bottom: 30px;
}
.main-visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 85%;
}
.visual-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #fff;
    text-shadow: 0 3px 6px rgba(0,0,0,0.8);
    text-align: center; 
}
.visual-text h1 {
    font-size: 48px;
    margin-bottom: 15px;
}
.visual-text p {
    font-size: 25px;
    color: #fff;
}
/* ========= 섹션 공통 ========= */
.section {
    padding-bottom: 40px;
}
/* ========== 섹션1: 렌터카 이용 안내 ========== */
.section-1 h3 {
    font-size: 22px;
    margin-bottom: 15px;
}
.section-1 p {
    font-size: 16px;
    color: #555;
}
.guide-ready {
    border: 1px solid #ddd;
    background-color: #fff3e6;
    padding: 25px;
    text-align: center;
    margin-bottom: 50px;
}
.guide-row {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.step-card {
    width: 260px;
    border: 1px solid #ddd;
    padding: 40px;
    margin-bottom: 40px;
    text-align: center;
    position: relative;
    background: #fff;
    box-sizing: border-box;
}
.step-num {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff5000;
    color: white;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 0;
}
.step-card i {
    font-size: 38px;
    color: #555;
    margin-bottom: 30px;
}
.guide-steps {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.step-arrow i {
    font-size: 22px;
    color: #ff5000;
}



/* ========== 섹션2: 보험 안내 ========== */
.section-2 h2 {
    margin-bottom: 15px;
}
.section-2 p {
    font-size: 16px;
    color: #555;
    margin-bottom: 40px;
    line-height: 1.5;
}
.section-2 p > span {
    font-size: 10px;
    color: #ff5000;
}
.insurance-table {
    width: 100%;
    border-collapse: collapse;
    color: #333;
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
}
.insurance-table th,
.insurance-table td {
    border: 1px solid #ddd;
    line-height: 1.5;
    padding: 25px 10px;
}
.insurance-table thead th {
    background-color: #fff3e6;
    font-weight: bold;
}
.insurance-table tbody th {
    background-color: #fff3e6;
    font-weight: bold;
}
.insurance-table td {
    color: #555;
}
.insurance-table thead th:nth-child(4) {
    color: #ff5000;
    background-color: #fff3e6;
}
.insurance-table tbody td:nth-child(4) {
    background-color: #fff3e6;
    color: #333;
}
.word p {
    font-size: 14px;
}


/* ========== 섹션3: 기타 유의사항 ========== */
.accident-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}
.accident-box h4 {
    font-size: 20px;
    margin-bottom: 15px;
    
}
.accident-box p {
    width: 100%;
    font-size: 15px;
    color: #555;
}
.accident-box span {
    font-size: 13px;
    color: #ff5000;
}
.accident-card {
    border: 1px solid #ddd;
    padding: 30px 20px;
    text-align: center;
    background-color: #fff;
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-bottom: 10px;
}
.accident-card i {
    font-size: 40px;
    color: #555;
    margin-bottom: 15px;
}
.accident-card p {
    margin: 0;
}
.guide-block h3 {
    font-size: 25px;
    margin-bottom: 10px;
}
.guide-block .other-text {
    font-size: 18px;
    line-height: 1.7;
    color: #555;
}