
/* ==================== 로그인창 ======================== */
.login {
  margin-bottom: 100px;
}
.login .container {
  max-width: 400px;
  margin: 100px auto 0;
}
.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
.tab-button {
  flex: 1;
  font-size: 15px;
  background: none;
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 12px 0;
  cursor: pointer;
  font-weight: bold;
  color: #666;
}
.tab-button.active {
  border-bottom: 3px solid #ff5000;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
label {
  display: block;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}
input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"],
select {
  width: 400px;
  padding: 12px;
  margin-bottom: 25px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  color: #666;
}

input::placeholder {
  color: #ccc;
}
.checkbox-group {
  display: flex;
  gap: 12px;
  margin-bottom: 25px;
}
.checkbox-group label {
  font-size: 14px;
  color: #666;
  cursor: pointer;
}
.login-btn, .confirm-btn {
  display: block; 
  width: 100%; 
  margin: 0 auto 16px;
  background: #ff5000;
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
.confirm-btn:disabled {
  background: #ccc;
  cursor: default;
}
.links {
  text-align: center;
  font-size: 14px;
  color: #555;
  margin-bottom: 32px;
}
.links a {
  text-decoration: underline;
  color: #555;
  margin: 0 5px;
}
.links a:hover {
  color: #ff5000;
}
.social-login {
  text-align: center;
  font-size: 14px;
  color: #555;
  margin-top: 25px;
}
.social-login i {
  background: transparent;
}
.social-login span {
  display: block;
  margin-bottom: 12px;
}
.social-btn {
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 14px;
  cursor: pointer;
  margin: 0 10px;
  line-height: 40px;
}
.social-btn.naver {
  font-size: 23px;
  color: #fff;
  font-weight: bold;
  background: #00C300;
}
.social-btn.kakaotalk {
  font-size: 23px;
  color: #3e2723;
  background: #FEE40B;
}

.notice {
  background: #f0f0f0;
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 13px;
  color: #555;
  margin-bottom: 20px;
}
