.login .container {
  max-width: 400px;
  margin: 100px auto 0;
}
.login input:focus,
.login select:focus,
#signup input:focus,
#signup select:focus {
    outline: none;
    border: 1px solid #ff5000;
    box-shadow: 0 0 0 1px #ff5000;
}
.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.tab-button {
  flex: 1;
  font-size: 18px;
  background: none;
  border: none;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  padding: 12px 0;
  cursor: pointer;
  color: #666;
}
.tab-button.active {
  border-bottom: 3px solid #ff5000;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
label {
  display: block;
  color: #333;
  font-size: 15px;
  margin-bottom: 5px;
}
input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"],
select {
  width: 400px;
  padding: 12px;
  margin-bottom: 25px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  color: #666;
}
input::placeholder {
  color: #ccc;
}
.checkbox-group {
  display: flex;
  gap: 12px;
  margin-bottom: 50px;
}
.checkbox-group label {
  font-size: 14px;
  color: #666;
  cursor: pointer;
}
.login-btn, .confirm-btn, .signup-btn {
  display: block; 
  width: 100%; 
  margin: 0 auto 30px;
  background: #ff5000;
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
.confirm-btn:disabled {
  background: #ccc;
  cursor: default;
}
.links {
  text-align: center;
  font-size: 14px;
  color: #555;
  margin-bottom: 30px;
}
.links a {
  text-decoration: underline;
  color: #555;
  margin: 0 15px;
}
.links a:hover {
  color: #ff5000;
}
.social-login {
  border-top: 1px dashed #ddd;
  text-align: center;
  font-size: 14px;
  color: #555;
}
.social-login i {
  background: transparent;
}
.social-login span {
  display: block;
  margin: 12px 0;
}
.social-btn {
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 14px;
  cursor: pointer;
  margin: 0 10px;
}
.social-btn.naver {
  font-size: 23px;
  color: #fff;
  font-weight: bold;
  background: #00C300;
}
.social-btn.kakaotalk {
  font-size: 23px;
  color: #3e2723;
  background: #FEE40B;
}
.notice {
  background: #f0f0f0;
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 13px;
  color: #555;
  margin-bottom: 20px;
}

/* 회원가입 */
h2 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 30px;
  color: #555;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 20px;
}
.email-wrapper {
    display: flex;
    gap: 10px;
}
.email-wrapper input {
    flex: 1;
}
.email-wrapper button {
  height: 42px;  
    padding: 0 15px;
    background: #ff5000;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.gender-tabs {
    display: flex;
    gap: 5px;
    margin-bottom: 25px;
}
.gender-tab {
    flex: 1;
    display: flex;          
    justify-content: center; 
    align-items: center;      
    text-align: center;
    font-size: 14px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 7px;
    cursor: pointer;
}
.gender-tab.active {
    background: #ff5000;
    border-color: #ff5000;
    color: #fff;
}
#signup p {
    text-align:center; 
    font-size: 14px;
    color: #777;
}
#signup p>a {
  color: #ff5000;
  margin-left: 10px;
}