@charset "utf-8";

/* ==================== 메인 비쥬얼 ==================== */
.main-visual {
    position: relative;
    overflow: hidden;
}
.main-visual img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.8);
    object-position: 0 90%;
}
.visual-text {
    position: absolute;
    top: 50%;
    right: 300px;
    transform: translateY(-80%);
    color: #fff;
    text-shadow: 0 3px 6px rgba(0,0,0,0.5);
    text-align: right;
}
.visual-text h1 {
    font-size: 40px;
    margin-bottom: 100px;
    line-height: 1.4;
}
.visual-text h1 > span {
    font-size: 65px;
}
.visual-text p {
    font-size: 22px;
}

/* 섹션 공통 */
.section-header {
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
}
.section-sub {
    display: block;
    font-size: 12px;
    letter-spacing: 0.2em;
    color: #ff5000;
    margin-bottom: 8px;
    font-weight: 600;
}
.section:nth-of-type(even) {
    background: #fff7ef;
}

/* ==================== 섹션1: 검색 바 ==================== */
.search-sub {
    font-size: 16px;
    color: #555;
    margin-bottom: 40px;
    line-height: 1.5;
    text-align: center;
}
.search-filter-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.filter-box {
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    position: relative; 
    flex-grow: 1; 
    max-width: 280px;
    margin-right: 20px;
    padding: 30px 25px;
    background-color: #fff;
    border-radius: 12px;
    cursor: pointer;
    transition: box-shadow 0.2s;
}
.filter-box:hover {
    color: #333;
}
.filter-box:hover .value-display {
    color: #ff5000; 
}
.filter-box label {
    display: block;
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}
.filter-box .value-display {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    white-space: nowrap; 
}
.filter-box .value-display span {
    color: #ff5000
}

/* 선택 박스 */
.date-box {
    position: relative;
}
.date-input {
    position: absolute;
    inset: 0; /* t,b,r,l: 0; */
    opacity: 0;
    cursor: pointer;
}

.option-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.option-list li {
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
}
.option-list li:hover {
    background-color: #ff5000;
    color: #fff;
}
.detail-popup {
    display: none; 
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    width: 300px;
    padding: 15px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.filter-box.active .detail-popup {
    display: block; 
}
.search-button {
    padding: 20px 35px;
    background-color: #ff5000;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    margin-left: 15px; 
}
.search-button:hover {
    background: #ff7333;
}


/* ==================== 섹션2: 진행 중 이벤트 ==================== */
.event-banner {
    position: relative;
    overflow: hidden;
    width: 90%;
    height: 350px;
    margin: 0 auto;
    border-radius: 15px;
}
.event-banner .slides {
    display: flex;
    width: 500%; /* 4장 + 복제 */
    height: 100%;
    animation: slide 20s infinite ease-in-out;
}
.event-banner .slides .slide {
    width: 20%;
    position: relative;
}
.event-banner .slides .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 90%;
    display: block;
}
.slide-text {
    position: absolute;
    top: 50%;
    left: 140px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 10px; 
    color: #fff;
    text-shadow: 0 2px 5px rgba(0,0,0,0.5);
}
.slide-text h3 {
    margin: 5px 0;
    font-size: 30px;
    line-height: 1.4;
}
.slide-text p {
    margin: 0;
    font-size: 17px;
    line-height: 2.4;
}
/* (배너)슬라이드 애니메이션 */
@keyframes slide {
    0%   { transform: translateX(0); }
    20%  { transform: translateX(0); }
    25%  { transform: translateX(-20%); }
    45%  { transform: translateX(-20%); }
    50%  { transform: translateX(-40%); }
    70%  { transform: translateX(-40%); }
    75%  { transform: translateX(-60%); }
    95%  { transform: translateX(-60%); }
    100% { transform: translateX(-80%); }
}
.event-link {
    text-align: right;
    margin-right: 70px;
    margin-top: 20px;
}
.event-link a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
}
.event-link a:hover {
    text-decoration: underline; 
}



/* ==================== 섹션3: 렌터카 추천 ==================== */
.section-3 .car-items {
    display: grid;
    grid-template-columns: repeat(3, 330px); 
    justify-content: center;
    gap: 50px; 
}
.section-3 .car-card {
    text-decoration: none;
    color: #333;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.5s ease;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.section-3 .car-card:hover {
    transform: translateY(-15px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}
.section-3 .card-image {
    width: 100%;
    height: 250px; 
    background-size: cover;
    background-position: center;
}
.section-3 .card-content {
    padding: 30px 21px;
    background-color: #fff;
    flex: 0 0 auto; /* 이미지 아래로 위치 고정 */
}
.section-3 .card-content h3 {
    font-size: 18px;
    margin-bottom: 6px;
    color: #555;
}
.section-3 .card-content p {
    font-size: 16px;
    font-weight: bold;
    color: #ff5000;
}
.section-3 .car-card:nth-of-type(1) .card-image {
    background-image: url(/assets/01-1.jpg);
}
.section-3 .car-card:nth-of-type(2) .card-image {
    background-image: url(/assets/02-1.jpg);
}
.section-3 .car-card:nth-of-type(3) .card-image {
    background-image: url(/assets/03-1.jpg);
}
.section-3 .car-card:nth-of-type(4) .card-image {
    background-image: url(/assets/06-1.jpg);
}
.section-3 .car-card:nth-of-type(5) .card-image {
    background-image: url(/assets/05-1.jpg);
}
.section-3 .car-card:nth-of-type(6) .card-image {
    background-image: url(/assets/08-1.jpg);
}

.section-3 .hidden {
    display: none;
}
.section-3 .more-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.section-3 .more-btn {
    font-size: 15px;
    margin-top: 30px;
    padding: 20px 30px;
    background: #ff5000;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.section-3 .more-btn:hover {
    background: #ff7333;
    transition:  0.5s ease;
}


/* ==================== 섹션4: 카페패스 ==================== */
.section-4 .cafe-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1100px;
    margin: 0 auto;
}
.section-4 .cafe-card {
    display: block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.section-4 .card-image {
    border-radius: 12px;
    overflow: hidden;
    background-color: #eee;
}
.section-4 .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}
.section-4 .cafe-card img:hover {
    transform: scale(1.08);
}
.section-4 .card-content {
    margin-top: 25px;
}
.section-4 .card-content h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 6px;
}
.section-4 .card-content p {
    font-size: 15px;
    color: #333;
    line-height: 1.6;
}
.section-4 .card-content span {
    color: #777;
    font-size: 13px;
}



/* ==================== 섹션5: 서비스 이용 안내 ==================== */
.section-5 .service {
    position: relative;
}
.section-5 .service-items {
    display: flex;
    align-items: center; 
    gap: 30px;
    padding: 20px 0; 
    padding-left: 70px;
    border-bottom: 1px solid #ddd;
    width: 800px;
}
.section-5 .service-items img {
    height: 40px;
    width: 40px;
    object-fit: contain;
    flex-shrink: 0;
}
.section-5 a {
    text-decoration: none;
    color: inherit;
    display: inline-block; 
}
.section-5 h3 {
    margin: 8px 0;
    font-size: 22px;
    color: #333;
}
.section-5 h3:hover {
    color:#ff5000
}
.section-5 p {
    font-size: 16px;
    color: #333;
    line-height: 1.7;
}
.section-5 .service-deco {
    position: absolute;
    right: 0;   
    top: 50%;
    transform: translateY(-25%);
    width: 500px;
    opacity: 0.8;
}


/* ==================== 기타 문의사항 ==================== */
.customer-service {
    background-color: #fff3e6;
    text-align: center;
    padding: 40px 0;
    font-size: 14px;
    color: #333;
    border-top: 1px solid #ddd;
    line-height: 1.6;
}
.customer-service p:nth-child(1) {
    font-size: 18px;
    font-weight: bold;
}
.customer-service p > i {
    font-size: 28px;
    color: #ff5000;
    margin-right: 8px;
}
.customer-service p > b {
    font-size: 40px;;
    color: #ff5000; 
}


/* ==================== 모바일 반응형 ==================== */
@media (max-width: 768px) {
    /* 메인 비주얼 */
    .main-visual {
        height: 230px;
    }
    .visual-text {
        margin-top: 20px;
        right: 20px;
        text-align: right;
    }
    .visual-text h1 {
        font-size: 18px;
        margin-bottom: 30px;
    }
    .visual-text h1 span {
        font-size: 30px;
    }
    .visual-text p {
        font-size: 12px;
    }
    /*  섹션1: 검색  */
    .section-header h2 {
        font-size: 25px;
    }
    .search-title {
        font-size: 24px;
    }
    .search-sub {
        font-size: 14px;
        margin-bottom: 25px;
    }
    .search-filter-bar {
        flex-direction: column;
        gap: 12px;
        padding: 16px;
    }
    .filter-box {
        width: 100%;
        max-width: none;
        margin-right: 0;
        padding: 20px;
    }
    .detail-popup {
        width: 100%;
        left: 0;
    }
    .search-button {
        margin-top: 10px;
        font-size: 14px;   
        padding: 15px 26px;
        height: auto;
    }
    /*  섹션2: 이벤트  */
    
    .section-header p {
        font-size: 14px;
    }
    .event-banner {
        height: auto;
    }
    .slide-text {
        left: 20px;
        right: 20px;
    }
    .slide-text h3 {
        font-size: 16px;
    }
    .slide-text p {
        font-size: 12px;
        line-height: 1.6;
    }
    /*  섹션3: 렌터카 추천  */
    .car-items {
        grid-template-columns: repeat(1, auto);
        gap: 26px;
    }
    .card-image {
        height: 220px;
        width: 100%; 
    }
    .car-card h3 {
        font-size: 18px;
    }
    .car-card p {
        font-size: 15px;
    }
    .more-btn {
        font-size: 14px;   
        padding: 8px 16px;
        height: auto;
    }
    /*  섹션4: 서비스 안내  */
    .section-4 .service-items {
        width: 100%;
        gap: 16px;
    }
    .section-4 .service-text h3 {
        font-size: 18px;
    }
    .section-4 .service-text p {
        font-size: 14px;
    }
    .section-4 .service-deco {
        display: none;
    }
    /* 문의사항 안내 */
    .customer-service p:nth-of-type(1) {
        font-size: 15px;
    }
    .customer-service p > b {
        font-size: 33px;
    }
    .customer-service p:nth-of-type(3) {
        font-size: 13px;
    }
}