@charset "utf-8";
@import url('/css/common.css');

/* ======================== 메인 비쥬얼 ======================== */
.main-visual {
    position: relative;
    width: 100%;
    height: 500px; 
    overflow: hidden;
}
.main-visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 70%;
    filter: brightness(0.8);
}
.visual-text {
    position: absolute;
    top: 50%;
    right: 300px;
    transform: translateY(-50%);
    color: #fff;
    text-shadow: 0 3px 6px rgba(0,0,0,0.5);
    text-align: right;
}
.visual-text h1 {
    font-size: 40px;
    margin-bottom: 100px;
    line-height: 1.4;
}
.visual-text h1 > span {
    font-size: 65px;
}
.visual-text p {
    font-size: 22px;
}


/* ======================== 섹션1 ======================== */
.section-1 {
    background-color: #FFF3E6;
    padding: 60px 0;
    margin-bottom: 100px;
}
.section-1 .section-header p {
    font-size: 16px;
    color: #555;
    margin: 15px 0 40px 0;
}
.search-sub {
    font-size: 16px;
    color: #555;
    margin-bottom: 40px;
    line-height: 1.5;
    text-align: center;
}
.search-filter-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
}
.filter-box {
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    position: relative; 
    flex-grow: 1; 
    max-width: 280px;
    margin-right: 20px;
    padding: 40px 25px;
    background-color: #fff;
    border-radius: 12px;
    cursor: pointer;
    transition: box-shadow 0.2s;
}
.filter-box:hover {
    color: #333;
}
.filter-box:hover .value-display {
    color: #ff5000; 
}
.filter-box label {
    display: block;
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}
.filter-box .value-display {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    white-space: nowrap; 
}
.filter-box .value-display span {
    color: #ff5000
}
/* 달력 */
.date-input {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;       
    cursor: pointer; 
}
.option-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.option-list li {
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
}
.option-list li:hover {
    background-color: #ff5000;
    color: #fff;
}
.detail-popup {
    display: none; 
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    width: 300px;
    padding: 15px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.filter-box.active .detail-popup {
    display: block; 
}
.search-button {
    padding: 20px 35px;
    background-color: #ff5000;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    margin-left: 15px; 
}
.search-button:hover {
    background: #ff7333;
    transition:  0.5s ease;
}


/* ======================== 섹션2 ======================== */
.event .section-header {
    display: flex;
    justify-content: space-between; 
    align-items: baseline; /* 배너 기준 */
}
.event .section-header a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
}
.event .section-header a:hover {
    text-decoration: underline; 
}
.event-banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1400px;
    height: 380px;
    margin: 0 auto;
    border-radius: 15px;
}
.event-banner .slides {
    display: flex;
    width: 500%; /* 4장 + 복제 */
    height: 100%;
    animation: slide 20s infinite ease-in-out;
}
.event-banner .slides .slide {
    width: 20%;
    position: relative;
}
.event-banner .slides .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.slide-text {
    position: absolute;
    top: 50%;
    left: 140px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 10px; 
    color: #fff;
    text-shadow: 0 2px 5px rgba(0,0,0,0.5);
}
.slide-text h3 {
    margin: 5px 0;
    font-size: 30px;
    line-height: 1.4;
}
.slide-text p {
    margin: 0;
    font-size: 17px;
    line-height: 2.4;
}

/* (배너)슬라이드 애니메이션 */
@keyframes slide {
    0%   { transform: translateX(0); }
    20%  { transform: translateX(0); }
    25%  { transform: translateX(-20%); }
    45%  { transform: translateX(-20%); }
    50%  { transform: translateX(-40%); }
    70%  { transform: translateX(-40%); }
    75%  { transform: translateX(-60%); }
    95%  { transform: translateX(-60%); }
    100% { transform: translateX(-80%); }
}



/* ======================== 섹션3 ======================== */
.car-items {
    display: grid;
    grid-template-columns: repeat(3, 382px); /* 382px짜리 카드 3개 */
    justify-content: center;
    gap: 50px; 
}
.car-card {
    text-decoration: none;
    color: #333;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.5s ease;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.car-card:hover {
    transform: translateY(-15px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}
.card-image {
    width: 100%;
    height: 286px; 
    background-size: cover;
    background-position: center;
}
.card-content {
    padding: 30px 21px;
    background-color: #fff;
    flex: 0 0 auto; /* 이미지 아래로 위치 고정 */
}
.card-content h3 {
    font-size: 20px;
    margin-bottom: 6px;
    color: #555;
}
.card-content p {
    font-size: 16px;
    font-weight: bold;
    color: #ff5000;
}
.car-items .car-card:nth-of-type(1) .card-image {
    background-image: url(/assets/01-1.jpg);
}
.car-items .car-card:nth-of-type(2) .card-image {
    background-image: url(/assets/02-1.jpg);
}
.car-items .car-card:nth-of-type(3) .card-image {
    background-image: url(/assets/03-1.jpg);
}
.car-items .car-card:nth-of-type(4) .card-image {
    background-image: url(/assets/06-1.jpg);
}
.car-items .car-card:nth-of-type(5) .card-image {
    background-image: url(/assets/05-1.jpg);
}
.car-items .car-card:nth-of-type(6) .card-image {
    background-image: url(/assets/08-1.jpg);
}

.hidden {
    display: none;
}
.more-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.more-btn {
    font-size: 18px;
    margin-top: 20px;
    padding: 20px 35px;
    background: #ff5000;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.more-btn:hover {
    background: #ff7333;
    transition:  0.5s ease;
}


/* ======================== 섹션4 ======================== */
.section-4 .service {
    position: relative; /* 장식 이미지 배치용 */
}
.section-4 .service-items {
    display: flex;
    align-items: center; 
    gap: 30px;
    padding: 20px 0; 
    border-bottom: 1px solid #ddd;
    width: 800px;
}
.section-4 .service-items img {
    height: 55px;
    width: 55px;
    object-fit: contain;
    flex-shrink: 0;
}
.section-4 .service-text a {
    text-decoration: none;
    color: inherit;
    display: inline-block; 
}
.section-4 .service-text h3 {
    margin: 8px 0;
    font-size: 22px;
    color: #333;
}
.section-4 .service-text h3:hover {
    color:#ff5000
}
.section-4 .service-text p {
    font-size: 18px;
    color: #333;
    line-height: 1.7;
}
.section-4 .service-deco {
    position: absolute;
    right: 0;   
    top: 50%;
    transform: translateY(-35%);
    width: 600px;
    opacity: 0.8;
}


/* ======================== 고객센터 안내 배너 ======================== */
.customer-service {
    background-color: #fff3e6;
    text-align: center;
    padding: 40px 0;
    font-size: 16px;
    color: #333;
    border-top: 1px solid #ddd;
    line-height: 1.6;
}
.customer-service p:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
}
.customer-service p > i {
    font-size: 30px;
    color: #ff5000;
    margin-right: 8px;
}
.customer-service p > b {
    font-size: 45px;;
    color: #ff5000; 
}


/* ==================== 모바일 반응형 ==================== */
@media (max-width: 768px) {

    /* ===== 공통 ===== */
    .container {
        padding: 0 16px;
    }

    /* ===== 메인 비주얼 ===== */
    .main-visual {
        height: 320px;
    }

    .visual-text {
        right: 20px;
        text-align: right;
    }

    .visual-text h1 {
        font-size: 26px;
        margin-bottom: 30px;
    }

    .visual-text h1 span {
        font-size: 38px;
    }

    .visual-text p {
        font-size: 16px;
    }

    /* ===== 검색 바 ===== */
    .search-title {
        font-size: 24px;
    }

    .search-sub {
        font-size: 14px;
        margin-bottom: 25px;
    }
    .search-filter-bar {
        flex-direction: column;
        gap: 12px;
        padding: 16px;
    }

    .filter-box {
        width: 100%;
        max-width: none;
        margin-right: 0;
        padding: 20px;
    }

    .detail-popup {
        width: 100%;
        left: 0;
    }

    .search-button {
        width: 100%;
        padding: 18px;
        font-size: 18px;
        margin-left: 0;
    }

    /* ===== 이벤트 배너 ===== */
    .event-banner {
        height: 240px;
    }

    .slide-text {
        left: 20px;
        right: 20px;
    }

    .slide-text h3 {
        font-size: 20px;
    }

    .slide-text p {
        font-size: 14px;
        line-height: 1.6;
    }

    /* ===== 렌터카 추천 ===== */
    .car-items {
        grid-template-columns: 1fr;
        gap: 24px;
    }

    .card-image {
        height: 220px;
    }

    /* ===== 서비스 안내 ===== */
    .section-4 .service-items {
        width: 100%;
        gap: 16px;
    }

    .section-4 .service-text h3 {
        font-size: 18px;
    }

    .section-4 .service-text p {
        font-size: 14px;
    }

    .section-4 .service-deco {
        display: none;
    }

    /* ===== 고객센터 ===== */
    .customer-service p > b {
        font-size: 32px;
    }

    /* ===== 푸터 ===== */
    .footer-content {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    .footer-sns {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }
}