@charset "utf-8";

/* ==================== 공지사항 섹션 ==================== */

/* 공지사항 제목 */
.section h2 {
    font-size: 33px;
    margin-bottom: 70px;
    text-align: center;
}

/* 검색창 */
.search-bar {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 30px;
    margin-right: 200px;
}
.search-bar input,
.search-bar button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.search-bar input {
    width: 250px;
}
.search-bar button {
    background-color: #ff5000;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.search-bar button:hover {
    background-color: #e04d00;
}

/* 공지사항 리스트 */
.notice-list {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
.notice-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.notice-item:hover {
    background-color: #f7f7f7;
}
.notice-number {
    font-size: 18px;
    color: #777;
    width: 30px;
    text-align: center;
}
.notice-title {
    font-size: 18px;
    flex-grow: 1;
    font-weight: bold;
    color: #333;
    margin-left: 20px;
}
.notice-title a {
    color: #333;
    text-decoration: none;
}
.notice-title a:hover {
    color: #ff5000;
}
.notice-date {
    font-size: 14px;
    color: #555;
    margin-left: 20px;
    white-space: nowrap;
}

/* 페이지네이션 컨테이너 */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 40px;
}

/* 페이지네이션 버튼 */
.pagination button {
    background-color: #fff;
    border: none;
    padding: 7px 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    min-width: 24px;
    text-align: center;
    border-radius: 50%;
}
.pagination button:hover {
    background-color: #ff5000;
    color: #fff;
}
.pagination button.active {
    background-color: #ff5000;
    color: #fff;
}
